/*FONTES*/
@font-face {
    font-family: VGA;
    src: url(fonts/font1/Perfect\ DOS\ VGA\ 437.ttf);
    src: url(fonts/font1/Perfect\ DOS\ VGA\ 437.woff);
    src: url(fonts/font1/Perfect\ DOS\ VGA\ 437.woff2);
}

@font-face {
    font-family: GRAPESODA;
    src: url(fonts/font2/ari-w9500-display.ttf);
    src: url(fonts/font2/ari-w9500-display-webfont.woff);
    src: url(fonts/font2/ari-w9500-display-webfont.woff2);
}

/*COISAS DO FUNDO*/
#background {
    background-size: 128px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: background 0.6s ease;
    image-rendering: pixelated;
}

.section {
  min-height: 70vh;
  background: transparent;
}

/*HEADER DO SITE*/
header{
    color: white;
    background-color:#05161f;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    outline-style:dashed;
    outline-color:#44335e;
    font-family: VGA;
    font-size:40px;
    height: 36px;
}


/*COISAS DO TITULO MOBILE*/
.title1{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: GRAPESODA;
    font-size: 50px;
}

.title2{
    color: rgb(255, 245, 110);
    display: flex;
    justify-content: center;
    font-family: GRAPESODA;

}

.title3{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: GRAPESODA;
}

.title4{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: GRAPESODA;
    background: #F2FF78;
    background: linear-gradient(to bottom, #F2FF78 43%, #79D5E7 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*subtitle*/
.subtitle{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: GRAPESODA;
    font-size: 32px;
}

.subsubtitulo{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: GRAPESODA;
    font-size: 32px;
    margin-top: auto;
}

/*text*/
.text{
    color: white;
    display: flex;
    text-align: justify;
    margin: 20px;
    font-family: VGA;

}
/*Texto do Exemplo*/
.textEx{
    color: white;
    display: flex;
    text-align: justify;
    font-family: VGA;
    justify-content: center;
    margin: 20px;
    margin-bottom: 100px;
    font-size: 20px;
}

ul{
    color: white;
    text-align: justify;
    font-family: VGA;
    justify-content: center;
    margin-bottom: 100px;
}

img{
    display: flex;
    justify-content: center;
    image-rendering: pixelated;
    height: 200px;  /* Set the desired height */
    width: 200px;  /* Set the desired width */
    margin: auto;
}

#artwork{
    height: auto;
    width: 350px;
    image-rendering:auto;
}


/*PC*/
@media screen and (min-width: 1024px) {

/*HEADER DO SITE*/
header{
    position:sticky;
    background-color:#05161f;
    display: flex;
    justify-content: left;
    border-radius: 5px;
    outline-style:dashed;
    outline-color:#44335e;
    font-family: VGA;

}

.reder{
    margin-left: 20px;
    
}

/*COISAS DO TITULO PC*/
.title1{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    margin-inline-start: 20px;
    font-family: GRAPESODA;
    font-size: 70px;
    image-rendering: pixelated;
}
.title2{
    color: rgb(255, 245, 110);
    display: flex;
    justify-content: left;
    margin-inline-start: 20px;
    font-family: GRAPESODA;
    font-size: 50px;
}

.title3{
    color: rgb(77, 169, 255);
    display: flex;
    justify-content: left;
    margin-inline-start: 20px;
    font-family: GRAPESODA;
}

.title4{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    margin-inline-start: 20px;
    font-family: GRAPESODA;
    background: #F2FF78;
    background: linear-gradient(to bottom, #F2FF78 43%, #79D5E7 76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*subtitle*/
.subtitle{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    margin-inline-start: 20px;
    font-size: 32px;
}

.subsubtitulo{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    margin-inline-start: 20px;
    font-family: GRAPESODA;
    font-size: 32px;
    margin-top: -20px;
}

/*text*/
.text{
    color: white;
    display: flex;
    text-align: justify;
    margin: 20px;
    width: 30%;
}

.textEx{
    color: white;
    display: flex;
    text-align: justify;
    font-family: VGA;
    justify-content: left;
    margin: 20px;
    width: 30%;
    font-size: 20px;
}

ul{
    color: white;
    text-align: justify;
    font-family: VGA;
    justify-content: left;
    margin: 20px;
    margin-bottom: 100px;
}

img{
    display: flex;
    justify-content: center;
    image-rendering: pixelated;
    height: 200px;  /* Set the desired height */
    width: 200px;  /* Set the desired width */
    margin: 20px;
}

#artwork{
    height: auto;
    width: 350px;
    image-rendering:auto;
}
}