body{
    width: 1600px;
    height: auto;
    background-color: black;
    background-size: -20%;
    text-align: center;
}



.loremages{
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 40px;
    border-image: url(images/borders/border.png) 40 fill / 40px / 0px space;
}

.loremagescloud{
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 40px;
    border-image: url(images/borders/border2.png) 60 fill / 40px / 0px space;
}

.loremagescloud2{
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 40px;
    border-image: url(images/borders/border2.png) 60 fill / 40px / 0px space;
}

.loremagescloudtop{
    display: grid;
    width: fit-content;   /* SE ADAPTA AO CONTEÚDO */
    margin: 0 auto;       /* CENTRALIZA A DIV */
    transform: scale(0.8);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 40px;
    border-image: url(images/borders/border2.png) 60 fill / 40px / 0px space;
}

.margem{
    padding-top: 20%;
    padding-bottom: 20%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media screen and (min-width: 1024px){
body{
    margin-top: 10%;
    transform: scale(0.9);
    transform-origin: top left;
    background-color: black;
    background-size: -20%;
    text-align: center;
}



.loremages{
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 40px;
    border-image: url(images/borders/border.png) 40 fill / 40px / 0px space;
}

.loremagescloud{
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 40px;
    border-image: url(images/borders/border2.png) 60 fill / 40px / 0px space;
}

.loremagescloud2{
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 40px;
    border-image: url(images/borders/border2.png) 60 fill / 40px / 0px space;
}

.loremagescloudtop{
    display: grid;
    width: fit-content;   /* SE ADAPTA AO CONTEÚDO */
    margin: 0 auto;       /* CENTRALIZA A DIV */
    transform: scale(0.8);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 40px;
    border-image: url(images/borders/border2.png) 60 fill / 40px / 0px space;
}

.margem{
    padding-top: 20%;
    padding-bottom: 20%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
}
